/* .Add {
  text-align: center;
} */

.logoBox {
  background-color: red;
  height: 40vh;
  width: 20vw;
}

.logo {
  height: 6rem;
  width: 6rem;
}
/* .duration {
  display: flex;
  margin: 0 auto;
  height: 10vh;
  width: 20vw;
}

.time {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
} */
